
  .avatar-circle {
    width: 35px;
    height: 35px;
    background-color:olive;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: 2px;
  }  

  .ontitleclick{
    color:rgb(0, 0, 150);
    width:200px;
  }
  .lastbtn{
    /* margin-left: 420px; */

    cursor: pointer;
    
    width: 100px;
    border: none;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .78571429em 1.5em .78571429em;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
  }

  .nextbtn{
    /* margin-left: 605px; */
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
    width: 100px;
    border: none;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .78571429em 1.5em .78571429em;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
  }

  .previousbtn{
   
    cursor: pointer;
    
    width: 100px;
    border: none;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .78571429em 1.5em .78571429em;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem; 
  }


  .initials {
    
    /* 25% of parent */
    font-size: 25px; /* 50% of parent */
    
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
  }
  
  button{
    padding-left: 15
  }

  .character{
    padding-top:10px;
  }